body {
	-moz-user-select: none;
	cursor: default;
}

#game {
	position: relative;
	width: 480px;
	/*height: 450px;*/
}
/* #header {
	position: absolute;
	background-color: white;
	z-index: 3;
	width: 100%;
	height: 20px;
}*/
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
#field {
	background-color: white;
	z-index: 1;
	width: 100%;
	position: relative;
	overflow: hidden;
	/*position: absolute;*/
	/*height: 400px;*/
}
#inv {
	position: absolute;
	background-color: white;
	z-index: 4;
	width: 100%;
	/*top: 400px;*/
	margin: 17px 0 0 1px;
}
#covermsg {
	position: absolute;
	top: 0;
	z-index: 10;
	padding-top: 170px;
	font: 20px serif;
	color: gold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	text-align: center;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0, 0, 0, 0.5);
}

#inv .tileholder {
	display: inline-block;
	margin: 3px 6px 2px 1px;
}
.havetile {
	height: 25px;
	line-height: 25px;
	font-size: 19px;
	padding-right: 1px;
	border: 1px solid black;
	border-radius: 3px;
}
.havetile > div {
	display: inline-block;
	width: 17px;
	text-align: center;
}
#inv .points {
	line-height: 13px;
	font-size: 13px;
	vertical-align: super;
}

#signmsg {
	border: 2px dashed gray;
	background: black;
	width: 50%;
	margin: 90px auto 0;
	padding: 30px 20px 25px;
	text-align: center;
}

.hp {
	position: absolute;
	top: -5px;
	height: 1px;
	background-color: blue;
	width: 100%;
}

.enemy {
	position: absolute;
	z-index: 2;
}
.enemy-0 {
	height: 40px;
	width: 40px;
}
.enemy-me, .enemy-boss {
	margin-top: 1px;
	z-index: 1;
}
.enemy-boss[data-stunned="1"] > img {
	opacity: 0.4;
}
.enemy > img[data-facing="-10"] { /*up*/
	margin-left: 2px;
}
.enemy > img[data-facing="10"] { /*down*/
	margin-left: 3px;
}
.enemy > img[data-facing="0-1"] { /*left*/
	margin-top: 1px;
}
.enemy-small {
	background: url(img/small.png) no-repeat;
	height: 20px;
	width: 4px;
	padding: 10px 14px;
}
.enemy-shield {
	background: url(img/small-def0.png) no-repeat;
	height: 40px;
	width: 40px;
	margin-left: 2px;
}
.enemy-shield[data-vert="1"] {
	background: url(img/small-def1.png) no-repeat;
}
.enemy-spikes {
	background: url(img/spikes.png) no-repeat;
	height: 40px;
	width: 40px;
	margin-left: 3px;
}
.enemy-tile, .enemy-message {
	background-color: white;
	border: 1px solid black;
	padding: 2px;
	font-size: 18px;
	border-radius: 3px;
	margin: 4px 0 0 5px;
	width: 27px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-family: sans-serif;
}
.enemy-message.purple {
	background-color: purple;
}
.enemy-message {
	height: 20px;
	width: 21px;
	line-height: 20px;
	font-size: 15px;
}
.q-msg {
	position: absolute;
	right: -4px;
	width: 0;
	overflow: visible;
	top: 0px;
	font: 10px sans-serif;
}
.fademsg {
	position: absolute;
	height: 0;
	width: 0;
	white-space: nowrap;
	overflow: visible;
	font: 10px sans-serif;
	opacity: 1;
}

#bgcont {
	border-collapse: collapse;
}
.hp {
}
.bgtile {
	border: 1px solid black;
	width: 39px;
	height: 39px;
	padding: 0;
}
.tile-0, .tile-1, .tile-bg, .tile-S, .tile-T, .tile-spikes, .tile--, .tile-M {
	background: #EEFF00; /*url(img/bg.png)*/
}
.tile-M {
	background-image: -moz-linear-gradient(to right, white, #FFFF28, #F1F100);
	background-image: linear-gradient(to right, white, #FFFF28, #F1F100);
}
.span-M {
	background-image: -moz-linear-gradient(130deg, white, #5252FF, white, #4646FC, white); /* 131deg if tileable */
	background-image: linear-gradient(130deg, white, #5252FF, white, #4646FC, white);
	display: block;
	opacity: 0.65;
	height: 100%;
	width: 100%;
}
.tile-Z {
	background: #D0E100;
}
.tile-E {
	background: #DD8800;
}
.tile-1::after {
	margin: 0 10px;
	background-color: #ccc;
	content: '';
	height: 40px;
	display: block;
}
.tile--::after {
	padding: 10px 0;
	background-color: #ccc;
	content: '';
	width: 40px;
	display: block;
}
.tile-wall {
	background-color: black;
}
.tile-0 span {
	position: relative;
	display: block;
	height: 38px;
}
.tile-0 span span {
	position: absolute;
	width: auto;
	height: auto;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	background-color: blue;
	border: 1px solid black;
	border-radius: 3px;
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	font-family: Helvetica;
}
